Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is a collection of organized data that can be accessed, managed, and updated efficiently. It is a software system that is used to store and retrieve data from a structured format.
SQL (Structured Query Language) databases are relational databases that store data in tables with pre-defined relationships between them. SQL databases use a schema to define the structure of the data and support ACID (Atomicity, Consistency, Isolation, and Durability) transactions. SQL databases use SQL to manipulate and retrieve data.

NoSQL (Not Only SQL) databases are non-relational databases that store data in a more flexible and scalable manner. NoSQL databases do not require a predefined schema, allowing for more dynamic and ad hoc data storage. NoSQL databases can be categorized into four main types: document-oriented, key-value, column-oriented, and graph databases. NoSQL databases use their own query languages or APIs to manipulate and retrieve data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manipulate the structure of a database.

The following are the commonly used DDL commands in SQL:

CREATE: The CREATE command is used to create new database objects such as tables, indexes, and views. For example, the following command creates a new table named "employees" with columns for employee ID, name, and salary:
sql
CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    salary DECIMAL(10,2)
);
DROP: The DROP command is used to delete existing database objects such as tables, indexes, and views. For example, the following command drops the "employees" table:
DROP TABLE employees;

ALTER: The ALTER command is used to modify the structure of an existing database object such as a table. For example, the following command adds a new column "hire_date" to the "employees" table:
ALTER TABLE employees ADD COLUMN hire_date DATE;

TRUNCATE: The TRUNCATE command is used to delete all data from a table without deleting the table itself. This is a faster way to delete large amounts of data than using the DELETE command. For example, the following command truncates the "employees" table:
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for Data Manipulation Language, which is a category of SQL statements used to manipulate data in a relational database. DML statements are used to insert, update, and delete data in a table. Here are some explanations and examples for each DML statement:

INSERT: The INSERT statement is used to add new data into a table. Here is an example of how to use the INSERT statement to add a new record into a table called "customers":

INSERT INTO customers (first_name, last_name, email, phone_number)
VALUES ('John', 'Doe', 'johndoe@example.com', '555-1234');

UPDATE: The UPDATE statement is used to modify existing data in a table. Here is an example of how to use the UPDATE statement to change the phone number of a customer in the "customers" table:

UPDATE customers
SET phone_number = '555-5678'
WHERE customer_id = 1234;

DELETE: The DELETE statement is used to remove data from a table. Here is an example of how to use the DELETE statement to remove a customer record from the "customers" table:

DELETE FROM customers
WHERE customer_id = 1234;

Q4. What is DQL? Explain SELECT with an example.

Ans. DQL stands for Data Query Language, which is a category of SQL statements used to retrieve data from a relational database. DQL statements are used to query the database for information. The most commonly used DQL statement is SELECT. Here is an example of how to use the SELECT statement:

SELECT first_name, last_name, email
FROM customers
WHERE state = 'CA';

Q5. Explain Primary Key and Foreign Key.

Ans. In a relational database, a primary key is a unique identifier for a row in a table. It is a column or combination of columns that uniquely identify each row in the table.

CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  email VARCHAR(100)
);

A foreign key is a column or combination of columns in one table that refers to the primary key in another table. It is used to establish a relationship between two tables in a relational database. The foreign key column in one table is used to reference the primary key in another table, which creates a link between the two tables.

CREATE TABLE orders (
  order_id INT PRIMARY KEY,
  customer_id INT,
  order_date DATE,
  total DECIMAL(10, 2),
  FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans. import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

results = mycursor.fetchall()

for result in results:
  print(result)
  
The 'cursor()' method creates a cursor object that is used to execute SQL statements and fetch results from the database. The cursor object maintains the current position in the result set and is used to access the results of the query.

The 'execute()' method is used to execute a SQL statement. It takes the SQL statement as a parameter and returns a result object. The result object can be used to fetch the results of the query using methods such as fetchone(), fetchmany(), or fetchall(). In this example, we use the fetchall() method to fetch all the results of the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. The order of execution of SQL clauses in a query is as follows:

FROM clause: This clause specifies the table or tables from which to retrieve data.
JOIN clause: This clause is used to combine data from multiple tables in the result set.
WHERE clause: This clause is used to filter the data based on specified conditions.
GROUP BY clause: This clause is used to group the data based on one or more columns.
HAVING clause: This clause is used to filter the groups based on specified conditions.
SELECT clause: This clause specifies the columns to be retrieved in the result set, and can also include expressions and functions.
DISTINCT clause: This clause removes duplicate rows from the result set.
ORDER BY clause: This clause is used to sort the result set based on one or more columns.